$artkey-hover: #FFB000;
$artkey-main: #1A1A1A;
$artkey-text: #26282E;
$artkey-promt: #7D7E82;
$artkey-disable: #BEBFC1;
$artkey-success: #5Cb800;
$artkey-warning: #FF5C5C;
$artkey-error: #C80D0D;
$white: #FFF;
$dark: #000;