<nav class="collapse bd-links show" id="bd-docs-nav" aria-label="Docs navigation">
    <ul class="list-unstyled mb-0 py-3 pt-md-1">
        <li class="mb-1">
            <button class="btn d-inline-flex align-items-center rounded collapsed"
                data-bs-toggle="collapse" data-bs-target="#category-filter-collapse" aria-expanded="true">
                All Categories
            </button>

            <div class="collapse show" id="category-filter-collapse">
                <ul class="list-unstyled fw-normal pb-1 small">
                    <li><a href="/docs/5.0/about/overview/"
                            class="d-inline-flex align-items-center rounded">Category 1</a>
                    </li>
                    <li><a href="/docs/5.0/about/team/"
                            class="d-inline-flex align-items-center rounded">Category 2</a>
                    </li>
                    <li><a href="/docs/5.0/about/brand/"
                            class="d-inline-flex align-items-center rounded">Category 3</a>
                    </li>
                    <li><a href="/docs/5.0/about/license/"
                            class="d-inline-flex align-items-center rounded">Category 4</a>
                    </li>
                    <li><a href="/docs/5.0/about/translations/"
                            class="d-inline-flex align-items-center rounded">Category 5</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn d-inline-flex align-items-center rounded collapsed"
                data-bs-toggle="collapse" data-bs-target="#profile-filter-collapse" aria-expanded="true">
                Profile
            </button>

            <div class="collapse show" id="profile-filter-collapse">
                <button mat-raised-button>Basic</button>
                <button mat-raised-button>Basic</button>
                <button mat-raised-button>Basic</button>
                <button mat-raised-button>Basic</button>
                <button mat-raised-button>Basic</button>
                <button mat-raised-button>Basic</button>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn d-inline-flex align-items-center rounded collapsed"
                data-bs-toggle="collapse" data-bs-target="#title-filter-collapse" aria-expanded="true">
                Title Optinal
            </button>

            <div class="collapse show" id="title-filter-collapse">
                <section class="example-section">
                    <div><mat-checkbox class="example-margin">Check me!</mat-checkbox></div>
                    <div><mat-checkbox class="example-margin">Check me!</mat-checkbox></div>
                    <div><mat-checkbox class="example-margin">Check me!</mat-checkbox></div>
                    <div><mat-checkbox class="example-margin">Check me!</mat-checkbox></div>
                    <div><mat-checkbox class="example-margin">Check me!</mat-checkbox></div>
                    <div><mat-checkbox class="example-margin">Check me!</mat-checkbox></div>
                    <div><mat-checkbox class="example-margin">Check me!</mat-checkbox></div>
                    <mat-checkbox class="example-margin" [disabled]="true">Disabled</mat-checkbox>
                </section>
            </div>
        </li>
        <li class="my-3 mx-4 border-top"></li>
        <li class="mb-1">
            <button class="btn d-inline-flex align-items-center rounded collapsed"
                data-bs-toggle="collapse" data-bs-target="#price-filter-collapse" aria-expanded="true">
                Price
            </button>

            <div class="collapse show" id="price-filter-collapse">
                <mat-radio-group
                aria-labelledby="example-radio-group-label"
                class="example-radio-group">
                <div><mat-radio-button class="example-radio-button" >Check me</mat-radio-button></div>
                <div><mat-radio-button class="example-radio-button" >Check me</mat-radio-button></div>
                <div><mat-radio-button class="example-radio-button" >Check me</mat-radio-button></div>
                <div><mat-radio-button class="example-radio-button" >Check me</mat-radio-button></div>
                <div><mat-radio-button class="example-radio-button" >Check me</mat-radio-button></div>
                <div><mat-radio-button class="example-radio-button" >Check me</mat-radio-button></div>
                <div><mat-radio-button class="example-radio-button" >Check me</mat-radio-button></div>
                </mat-radio-group>
            </div>
        </li>
    </ul>
</nav>