<ul class="navbar-nav flex-row flex-wrap -ms-md-auto bd-navbar">
    <app-news-notification *ngIf="user"></app-news-notification>
    <app-favorite-notification *ngIf="user"></app-favorite-notification>
    
    <li class="nav-item col-6 col-md-auto">
        <a class="nav-link p-2" (click)="showYourCart()" target="_blank" rel="noopener">
            <mat-icon size="16" class="navbar-nav-svg d-inline-block align-text-top">shopping_cart</mat-icon>
        </a>
    </li>
    <li class="nav-item col-6 col-md-auto" *ngIf="!user; else userTemplate">
        <a mat-button (click)="showLogin()">Sign in</a>
    </li>
    <ng-template #userTemplate>

        <li class="nav-item dropdown d-flex align-items-center">
            <a class="nav-link dropdown-toggle p-0 d-flex align-items-center" href="#" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                <mat-icon size="32">account_circle</mat-icon> <span>{{user.firstName}} {{user.lastName}}</span>
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" [routerLink]="'/user/profile'">Profile</a></li>
                <li><a class="dropdown-item" href="#">Purchases & Reviews</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Help Center</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
            </ul>
        </li>
    </ng-template>
</ul>