<div class="container-xxl d-flex flex-md-nowrap py-4">
    <div class="p-3 d-flex align-items-center">
        <h1>Artkey</h1>
    </div>
    <div class="row col-md">
            
            <div class="col-6 col-md">
              <h5>About us</h5>
              <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="#">Cool stuff</a></li>
                <li><a class="link-secondary" href="#">Random feature</a></li>
                <li><a class="link-secondary" href="#">Team feature</a></li>
                <li><a class="link-secondary" href="#">Stuff for developers</a></li>
                <li><a class="link-secondary" href="#">Another one</a></li>
                <li><a class="link-secondary" href="#">Last time</a></li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5>Shop</h5>
              <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="#">Resource</a></li>
                <li><a class="link-secondary" href="#">Resource name</a></li>
                <li><a class="link-secondary" href="#">Another resource</a></li>
                <li><a class="link-secondary" href="#">Final resource</a></li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5>Help</h5>
              <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="#">Team</a></li>
                <li><a class="link-secondary" href="#">Locations</a></li>
                <li><a class="link-secondary" href="#">Privacy</a></li>
                <li><a class="link-secondary" href="#">Terms</a></li>
              </ul>
            </div>
    </div>
    <div>
        <h5>Payment acceptance</h5>
        <h5>Socials</h5>
        <mat-icon>facebook</mat-icon>
        
        
    </div>
</div>